/**
 * Icons
 */
.icon, .icon > img {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle; }
svg a:hover {
    text-decoration: none;
}

/**
 * Navbar styles
 */
.bg-dark {
    background-color: #b52e2e !important;
}

/**
 * Sticky footer styles
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px; /* Margin bottom by footer height */
}

.footer {
    border-top: 1px solid #b52e2e;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 33px; /* Vertically center the text there */
    background-color: #ffdddd;
    text-align: center;
}
