        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% include icon-github.html username=site.github_username %}
                        {% include icon-twitter.html username=site.twitter_username %}
                        {% include icon-youtube.html username=site.youtube_username %}
                        {% include icon-twitch.html username=site.twitch_username %}
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
