<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/icons/scoobz.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.permalink contains '/about/' %} active {% endif %}" href="{{ site.baseurl }}/about/">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink contains '/pets/' %} active {% endif %}" href="{{ site.baseurl }}/pets/">Pets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink contains '/events/' %} active {% endif %}" href="{{ site.baseurl }}/events/">Events</a>
            </li>
        </ul>
    </div>
</nav>
